<section class="bg-red text-white">
    <div class="container">
        <h2 class="mb-4 text-white">Actualités</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item carousel-item active">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-block">
                                    <h4 class="card-title">Bibliothèque</h4>
                                    <p class="text-left">Publié le 24/12/2017</p>
                                    <p class="card-text text-left">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem. Integer sed mi quis nisl eleifend interdum.</p>
                                    <p class="card-text text-left">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem.</p>
                                    <div class="text-right">
                                        <a href="#">lire la suite</a></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-img-bottom">
                                    <img src="{{ asset('assets/img/news/blog.jpg')}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item carousel-item">
                    <div class="card" style="background-color: transparent">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-block">
                                    <h4 class="card-title">Bibliothèque</h4>
                                    <p class="text-left">Publié le 24/12/2017</p>
                                    <p class="card-text text-left">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem. Integer sed mi quis nisl eleifend interdum.</p>
                                    <p class="card-text text-left">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem.</p>
                                    <div class="text-right">
                                        <a href="#">lire la suite</a></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-img-bottom">
                                    <img src="{{ asset('assets/img/news/blog.jpg')}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            <!-- Carousel controls -->
            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>

    </div>
</section>