<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{% block title %}&Eacute;cole Théâtre Mots Debout{% endblock %}</title>


    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Tajawal" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/css/core.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/etmd.min.css') }}"/>
    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#5E1616",
                        "text": "#ffdddd"
                    },
                    "button": {
                       "background": "#5E1616"
                    }
                },
                "theme": "classic",
                "position": "bottom-right",
                "content": {
                    "message": "Ce site utilise des cookies pour vous offrir le meilleur service. En poursuivant votre navigation, vous acceptez l’utilisation des cookies.",
                    "dismiss": "J'accepte",
                    "link": "En savoir plus"
                }
            })});
    </script>

</head>

<body id="page-top">
    {% include 'navbar.html.twig' %}
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
    {% include 'footer.html.twig' %}
</body>


<script src="{{ asset('assets/js/core.min.js') }}"></script>
<script src="{{ asset('assets/js/etmd.min.js') }}"></script>
 {% block javascripts %}{% endblock %}

</html>
