
    <div class="row">
        <div class="col s6">
            <span class="text-brown">&copy; 2017 - Ecole Théatre Mots Debout</span>
        </div>
        <div class="col s6">
            <a class="right waves-effect waves-light btn-floating social facebook" style="margin-left:10px;">
                <i class="fa fa-facebook"></i> Sign in with facebook</a>

            <a class="right waves-effect waves-light btn-floating social twitter" style="margin-left:10px">
                <i class="fa fa-twitter"></i> Sign in with twitter</a>

            <a class="right waves-effect waves-light btn-floating social google" style="margin-left:10px">
                <i class="fa fa-google"></i> Sign in with google</a>
        </div>
    </div>
