<footer class="footer container-fluid text-center text-black">

    <div style="margin-top:25px;">
        <p  class="text-red">
            Retrouver nous sur <a class="text-red" href="https://www.facebook.com/catherine.rouzeau" target="_blank"> <i class="fa fa-facebook-square" aria-hidden="true"></i> </a></p>
    </div>
</footer>