<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto text-center">
                <h2 class="section-heading">Ecole Théâtre Mots Debout</h2>
                <p class="mb-5">
                    5, rue Jean-Baptiste Charcot<br/>
                    17000 La Rochelle<br/>
                    contact@etmd.fr<br/>
                    Tél : 05.46.05.04.01<br/>
                </p>
                <a href="#">Mentions légales</a><br/>
            </div>

            <div class="col-lg-4 mx-auto text-center">
                <h2 class="section-heading">A Propos</h2>
                <a href="#">L'école</a><br/>
                <a href="#">Nos amis</a><br/>
                <a href="#">Livre d'or</a><br/>
            </div>

            <div class="col-lg-4 mx-auto text-center">
                <a class="btn btn-social-icon btn-facebook fa-2x"><span class="fa fa-facebook txt-red"></span></a>
                <a class="btn btn-social-icon btn-twitter fa-2x"><span class="fa fa-twitter txt-red"></span></a>
                <a class="btn btn-social-icon btn-google fa-2x"><span class="fa fa-google txt-red"></span></a>
                <br>
                <a href="#">Nous contacter</a>
            </div>

        </div>

    </div>
</section>