<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
    <!-- top nav -->
    <nav class="navbar navbar-top hidden-xs">
        <div class="container">
            <!-- left nav top -->
            <ul class="nav navbar-nav pull-left">

            </ul>
            <!-- right nav top -->
            <ul class="nav navbar-nav pull-right">
                <li><a href="#">Nous contacter</a></li>
                <li><a href="{{ url('admin_homepage') }}">S'identifier</a></li>
            </ul>
        </div>
        <div class="dividline bck-red"></div>
    </nav>
    <!-- down nav -->
    <nav class="navbar navbar-down">
        <div class="container">
            <div class="flex-container">
                <div class="navbar-header flex-item">
                    <div class="navbar-brand" href="#">ECOLE THEATRE<br>MOTS DEBOUT</div>
                </div>
                <ul class="nav navbar-nav flex-item hidden-xs">
                    <li><a href="{{ url('course') }}">Cours</a></li>
                    <li><a href="{{ url('workshop') }}">Ateliers</a></li>
                    <li><a href="{{ url('residence') }}">Résidences</a></li>
                    <li><a href="#">Formations</a></li>
                </ul>
                <ul class="nav navbar-nav flex-item hidden-xs pull-right">
                    <!--<li><a href="#" class="">offer!</a></li>-->
                </ul>
                <!-- dropdown only moblie -->
                <div class="dropdown visible-xs pull-right">
                    <button class="btn btn-default dropdown-toggle " type="button" id="dropdownmenu" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">TheTeam</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">contact us</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</nav>
