<div class="wrapper">
    <div class="news">
        <div class="cover" style="background-image: url(../../assets/img/etmd.jpg)">
            <label>Reprise des cours</label>
        </div>
        <div class="info">
            <p>La rentrée aura lieu le </p>
            <ul>
                <li><b>Mardi 5 septembre Niveau 3 à 19 h 30</b> deux ou trois œuvres seront soumises
                    à la lecture et au vote
                    collectif avant choix définitif</li>
                <li><b>Mercredi 6 septembre Niveau 1 & 2 à 19 h 30 </b>œuvre montée "LES PAS PERDUS"
                    de
                    <a href="https://fr.wikipedia.org/wiki/Denise_Bonal">Denise Bonal</a></li>
            </ul>
            <div style="text-align:right">
            <a href="#" class="more"><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
            </a>
            </div>
        </div>
        <div class="publish">Publié le 4 janvier 2017</div>
    </div>
</div>