<div class="col s12 m4">
    <div class="card horizontal">
        <div class="card-image">
            <img src="../../assets/img/{{ section.imagelink }}">
        </div>
        <div class="card-stacked">
            <div class="card-content card-section">
                <h4 class="header">{{ section.title }}</h4>
                <p>{{ section.content | html }}</p>
        </div>
    </div>
</div>


