<div class="section">
    <div class="col-sm-4 cover">
        <img src="../../assets/img/etmd.jpg" alt="ETMD"/>
    </div>
    <div class="col-sm-8">
        <h2>Lorem ipsum dolor sit amet</h2>
        <div class="info">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum justo mi, et imperdiet tortor condimentum sed. Duis lectus ligula, ultricies sed aliquet in, pretium nec nisi. Aenean sit amet odio odio. Sed rutrum maximus neque, sed posuere magna rhoncus eu. Vestibulum non scelerisque nisi, et feugiat eros. Maecenas a odio id nisl accumsan congue. Sed tempus ante nibh, vitae volutpat nulla suscipit nec. Vivamus convallis felis in lorem tristique, ut feugiat orci mattis. Fusce sed augue rhoncus, malesuada nisl non, ullamcorper tellus. Donec vel volutpat nisl, ut commodo sapien.</p>
        </div>
    </div>

</div>

