{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/video.css') }}"/>
{% endblock %}

{% block body %}

    {% include '::navbar.html.twig' %}
    
    <header>
        <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
            <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
            <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
        </video>
        <div id="polina" class="text-white">
            <h1 class="post-title text-red">Reprise des cours</h1>
            <p class="article">La rentrée aura lieu</p>
            <p class="article">mardi 5 septembre Niveau 3 à 19 h 30 deux ou trois œuvres seront soumises à la lecture et au vote collectif avant choix définitif</p>
            <p class="article">mercredi 6 septembre Niveau 1 & 2 à 19 h 30 œuvre montée "LES PAS PERDUS" de <a href="https://fr.wikipedia.org/wiki/Denise_Bonal">Denise Bonal</a></p>
        </div>
    </header>

{% endblock %}

