{% extends 'base.html.twig' %}

{% block body %}
    <main id="home">
        <div style="margin-top:50px"></div>
        <div class="container">
            {% include '::post.html.twig' %}
        </div>
    </main>
{% endblock %}

