{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <h1>Page principale du site</h1>
        <a href="{{ url('admin_homepage') }}">Admin</a>
    </div>
{% endblock %}

