{% extends 'base.html.twig' %}



{% block body %}

    {% include '::navbar.html.twig' %}
    <section class="cover-home ">
        {% include '::news.html.twig' %}
    </section>
    {% include '::footer.html.twig' %}

{% endblock %}
