{% extends 'base.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/css/residence.css') }}"/>
{% endblock %}


{% block body %}

	<div id="h2">
		<div class="logo">
            {% include '::navbar.html.twig' %}
		</div><!--/logo-->


		<div class="container centered">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1>Résidences</h1>
					<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h3>
				</div>
			</div><!--/row-->
		</div><!--/container-->
	</div><!--H-->

	<div class="bck-dark-yellow text-white" style="padding-left:10px">
		<div class="row" style="padding-left:10px">
			<h2 class="centered mb">7 élèves comédiens de L’ÉCOLE CLAUDE MATHIEU - Paris</h2>
			<p>
			ECOLE THEATRE MOTS DEBOUT à La Rochelle a le plaisir d'accueillir cette semaine d'aout
			7 élèves comédiens de L’ÉCOLE CLAUDE MATHIEU - Paris<br/>
			pour une résidence autour de leur travail sur "NOVECENTO" d'Alessandro Baricco<br/>
			BIENVENUE jeunesse !!!<br/>
				graines d'artistes!!
			</p>
		</div>
	</div><!-- /.container -->

	<div class="bck-red text-white" style="padding-left:10px">
		<div class="row" style="padding-left:10px">
			<h2 class="centered mb">Résidence 2</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
	</div><!-- /.container -->


{% endblock %}

