{% extends 'base.html.twig' %}



{% block body %}
    <style>
        body {
            background: url(../../assets/img/rs1.png) no-repeat center fixed;
            -webkit-background-size: cover; /* pour anciens Chrome et Safari */
            background-size: cover; /* version standardisée */

        }
    </style>
    {% include '::navbar.html.twig' %}
    <section>
        <div style="margin-top:150px"></div>
        {% include '::section.html.twig' %}
        <br/>
        {% include '::section.html.twig' %}
        <br/>
        {% include '::section.html.twig' %}
        <br/>
        {% include '::section.html.twig' %}
    </section>

    {% include '::footer.html.twig' %}
{% endblock %}


