{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/workshop.css') }}" xmlns="http://www.w3.org/1999/html"/>
{% endblock %}


{% block body %}

    <header id="h2">
        <div class="logo">
            {% include '::navbar.html.twig' %}
        </div><!--/logo-->


        <div class="container centered">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Soirées atelier découverte des disciples de l'art vivant</h1>
                    <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book.</h3>
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </header><!--H-->

    <div class="bck-dark-yellow text-white" style="padding-left:10px">
        <div class='container'>
            <div class='blog-posts'>
                <div class='post featured'>
                    <div class='image' style='background-image: url(../../images/ws2.jpg)'>
                        <div class='time'>
                            <div class='date'>4</div>
                            <div class='month'>JAN</div>
                        </div>
                    </div>
                    <div class='content'>
                        <h2 class="text-brown">DYNAMIQUE DU CORPS AU THÉÂTRE</h2>
                        <div class="text-dark-yellow">
                            Conduit par Camille Geoffroy - danseuse comédienne metteuse en scène <a
                                    class="text-dark-yellow"
                                    href="http://www.lavieestailleurs.com/">Cie
                                La Vie est Ailleurs</a>
                        </div>
                        <br/>
                        <div class="row text-dark-yellow">
                            <div class="col-sm-6">
                                <a class="btn icon-btn btn-success" href="#">Renseignements</a>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a class="btn icon-btn btn-success" href="#">Inscriptions</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='blog-posts'>
                    <div class='post featured'>
                        <div class='image' style='background-image: url(../../images/ws3.jpg)'>
                            <div class='time'>
                                <div class='date'>24</div>
                                <div class='month'>AVR</div>
                            </div>
                        </div>
                        <div class='content'>
                            <h2 class="text-brown">IMPROVISATIONS BURLESQUES</h2>
                            <div class="text-dark-yellow">
                                Le burlesque c'est très sérieux!<br/>
                                Conduit par Lucile Barre - comédienne -
                                <a class="text-dark-yellow"
                                   href="https://www.facebook.com/cieplanchefamille/?ref=br_rs/">Cie
                                    planche famille</a>
                            </div>
                            <br/>
                            <div class="row text-dark-yellow">
                                <div class="col-sm-6">
                                    <a class="btn icon-btn btn-success" href="#">Renseignements</a>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <a class="btn icon-btn btn-success" href="#">Inscriptions</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div><!-- /.container -->

            </div>
        </div>
    </div>

{% endblock %}

