{% extends 'base.html.twig' %}

{% block body %}

    <section class="bg-primary page-section" id="expositions">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center ">
                    <h1 class="section-heading text-white">Ateliers recherche</h1>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

