{% extends 'base.html.twig' %}

{% block body %}

    <section class="bg-primary page-section" id="privatelessons">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                    <h1 class="section-heading text-white">Cours particuliers</h1>
                    <h2 class="text-white mb-4">
                        Préparation aux concours des écoles nationales et
                        des conservatoires.<br>
                        Bases, perfectionnement et concours.<br>
                    </h2>
                </div>
            </div>
        </div>
    </section>




    <section class="bg-primary">
        <div class="container ">
            <h3 class="text-white mb-4">Apprendre ou consolider les techniques de base, se perfectionner, cheminer
                une recherche.
            </h3>
            <h3 class="text-white  mb-4">Préparer les concours des écoles nationales et des conservatoires. Choix des
                scènes du répertoire, travail des situations, des personnages, du style et du
                jeu.
            </h3>
            <h3 class="text-white  mb-4">Les cours particuliers offrent un calendrier à la carte.
            </h3>
        </div>
    </section>


    <section class="text-white">
        <div class="container ">
            <h2 class="mb-4 txt-red">Réussite des élèves</h2>

            <div class="row ">
                <div class="col-lg-4 mx-auto" style="height:200px;">
                    <div class="media mb-1 txt-red">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="{{ asset('assets/img/privatelessons/gaïa_berthommé.jpg') }}"
                                 alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Gaïa Berthommé</h4>
                            <p class="text-dark">&nbsp;<a href="http://lelftp.com/">Laboratoire de théâtre physique à Montreuil</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="media mb-1 txt-red">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="assets/img/privatelessons/audrey_caille.png"
                                 alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Audrey Caille</h4>
                            <p class="text-dark">&nbsp;<a href="http://www.conservatoire-rennes.fr/">Conservatoire de Rennes</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="media mb-1 txt-red">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="assets/img/privatelessons/maud_lassignardie.png"
                                 alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Maud Lassignardie</h4>
                            <p class="text-dark">&nbsp;<a href="http://www.ecoleclaudemathieu.com/">Ecole Claude Mathieu à Paris</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="media mb-1 txt-red">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="assets/img/privatelessons/tristan_pelseneer.png"
                                 alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Tristan de Pelseneer</h4>
                            <p class="text-dark">&nbsp;<a href="http://conservatoire-grandavignon.tumblr.com/">Conservatoire d'Avignon</a></p>
                        </div>
                    </div>
                </div>
tristan_pelseneer
                <div class="col-lg-4 mx-auto">
                    <div class="media mb-1 txt-red">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="assets/img/privatelessons/kayiane_lacoste-boghossian.png"
                                 alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Kayiané Lacoste-Boghossian</h4>
                            <p class="text-dark">&nbsp;<a href="http://evasaintpaul.wixsite.com/evasaintpaul">Ecole Eva Saint-Paul à Paris</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="media mb-1 txt-red">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="assets/img/privatelessons/antonin_ambard.png"
                                 alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Antonin Ambard</h4>
                            <p class="text-dark">&nbsp;<a href="http://www.theatredujour.com/">Ecole Pierre Debauche à Agen</a></p>
                        </div>
                    </div>
                </div>


            </div>
            <!--
            Gaïa Berthommé : Laboratoire de théâtre physique à Montreuil,
            Audrey Caille : Conservatoire de Rennes,
            Maud Lassignardie : Ecole Claude Mathieu à Paris,
            Tristan de Pelseneer Conservatoire d’Avignon,
            Kayiané Lacoste Boghossian : Ecole Eva Saint-Paul à Paris,
            -->

        </div>

        </div>
        </div>
    </section>

        <section class="bg-red">
        <div>
        </div>
        <div>
        </div>

    </section>

{% endblock %}

