{% extends 'base.html.twig' %}

{% block body %}

    <section class="bg-primary page-section" id="expositions">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center ">
                    <h1 class="section-heading text-white">&Eacute;cole</h1>
                </div>
            </div>
        </div>

    </section>

    <section class="bg-primary">
        <div class="container">
            <h2 class="mb-4 text-white">&Eacute;cole Théatre Mots Debout</h2>
            
            <h3 class="text-white">
                <img class="rounded-circle" src="{{ asset('assets/img/rouzeau_cat.jpg') }}">
               
                Catherine ROUZEAU formée chez Jean-Laurent Cochet et au CNSAD, a développé l’&Eacute;cole Théatre mots Debout
                où l’on trouve une véritable formation du comédien de théâtre.
            </h3>
            <h3  class="text-white">Depuis l’Atelier en 2003, soutenu par la Cie d’Un Jour, elle a mis en place au fil des années les Cours
                d’Art dramatique où son enseignement dispense aussi bien les outils techniques que l’interprétation
                soumise aux styles des auteurs classiques et contemporains. Auteurs qui, pour elle, sont les grands
                magiciens du théâtre.
            </h3>
            <h3 class="text-white">Elle a invité à ses côtés depuis 2011 des professionnels en complémentarité qui animent et enseignent
                au sein d’Ateliers mensuels. Les Ateliers Découvertes des Disciplines de l’Art Vivant.
            </h3>
            <h3 class="text-white">L’&Eacute;cole s’adresse à tous : débutants, amateurs, professionnels désireux de progresser dans la discipline.
                « Je travaille avec le désir qui est le moteur »
            </h3>
            <h3 class="text-white">Ici de la bienveillance mais sans complaisance, l’exigence est de mise, l’ouverture infinie de la
                découverte : « Quand une étape est franchie, on aborde un autre palier. » Et toujours la recherche
                permanente de l’authenticité du jeu : »Au théâtre on ne peut pas tricher ».
            </h3>
        </div>
    </section>

{% endblock %}

