{% extends 'base.html.twig' %}

{% block body %}

    <section class="background-red page-section" id="formations">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center ">
                    <h1 class="section-heading text-white">Formations</h1>
                    <h2 class="text-white mb-4">Jeu, lecture, oralité</h2>

                </div>
            </div>
        </div>
    </section>

<section class="background-red">
    <div class="container ">
        <h3 class="text-white mb-4">Formation sur demande adaptée à un évènement ponctuel ou un projet de long cours.
        </h3>
    </div>
</section>

    <section class="text-white">
        <div class="container text-red">
            <h2>Toujours sur le métier remettre son ouvrage</h2>
            <h3>Les lectrices de l'association Les Mots à la bouche</h3>
        </div>
        <hr style="border-top: 5px solid rgba(94, 22, 22, 1);max-width:50%">
    </section>

{% endblock %}

