{% extends 'base.html.twig' %}

{% block body %}

    <section class="bg-primary page-section" id="formations">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center ">
                    <h1 class="section-heading text-white">Formations</h1>
                    <h2 class="text-white mb-4">Jeu, lecture, oralité</h2>
                    <h3 class="text-white mb-4">
                        Sur demande les comédiens, les conteurs, les enseignants, les amateurs peuvent suivre une
                        formation adaptée à un évènement ponctuel ou un projet de longue haleine.
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary">
        <div class="container ">
            <h2 class="mb-4 text-white">Toujours sur le métier remettre son ouvrage</h2>
            <h3 class="text-white mb-4">Les lectrices de l'association Les Mots à la bouche</h3>
        </div>
    </section>

{% endblock %}

