{% extends 'base.html.twig' %}

{% block body %}
   <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">&Eacute;cole Théâtre Mots Debout</h1>
                <div style="height:150px"></div>
                <h2 class="text-white-gold subTitle"><strong>Cours d'Art dramatique</strong></h2>
                <a href="#about" class="chevron subTitle"><span class="fa fa-chevron-down fa-3x"></span></a>
            </div>

        </div>
    </div>
</header>
<section class="background-red" id="about">
    <p>&nbsp;</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white" style="font-weight: 700">&Eacute;cole Théâtre Mots Debout</h2>

                <h4 class="text-red-faded">
                    L'&Eacute;cole s'adresse à tous : débutants, amateurs, professionnels désireux de progresser dans la
                    discipline. "Je travaille avec le désir qui est le moteur".
                </h4>
                <h4 class="text-red-faded">
                    Ici de la bienveillance mais sans complaisance, l'exigence est de mise, l'ouverture infinie de la
                    découverte : "Quand une étape est franchie, on aborde un autre palier.".
                </h4>
                <h4 class="text-red-faded">
                    Et toujours la recherche permanente de l'authenticité du jeu : "Au théâtre on ne peut pas tricher".
                </h4>

            </div>
        </div>
    </div>
</section>
{% include 'etmd/tuiles.html.twig' %}

{% endblock %}

