{% extends 'base.html.twig' %}

{% block title %}Livre d'or{% endblock %}

{% block header %}
    <header class="collapse livre-or">
        <section>
            <h1>Livre d'or</h1>
        </section>
    </header>
{% endblock %}


{% block body %}

    <section>
        <div class="container container-box">
            <div class="box effect2 text-justify">
                <p>Je tenais à te remercier, parce que les 2 ans passés dans ton enseignement ont été très riche et j'ai énormément appris, et pas seulement au niveau du théâtre. Dans ta richesse de compréhension de textes aussi. C'était vraiment bien.</p>

                <br><div class="text-right"><b>Oriane SHVIRO septembre 2017</b></div>
            </div>
            <div class="box effect2 text-justify">
                <p>Merci de cette soirée de cette gourmandise ! Il existe bien des nourritures terrestres
                    n'en déplaise aux jambons et ceux qui les décrochent...</p>

                <br><div class="text-right"><b>Jean-Luc Delavaud 8 juillet 2017</b></div>
            </div>

            <div class="box effect2 text-justify">
                <p>Bravo pour tes élèves. Le montage poétique m'a semblé passé à une vitesse formidable. Le rythme y a été tenu et soutenu du début à la fin et  servi par des choix d'une grande pertinence tant dans leurs propos que dans leurs liaisons ce qui lui assurait une grande fluidité.</p>
                <br><div class="text-right"><b>Jean-Luc Delavaud juillet 2013</b></div>
            </div>
            <div class="box effect2 text-justify">
                <p>Un immense merci à toi de m'avoir ouvert cette porte, de m'avoir fait confiance... franchir ce seuil a donné à cette année (et à bien d'autres, passées et à venir) un autre visage. C'est infiniment précieux.</p>

                <br><div class="text-right"><b>Lara BERETTI juillet 2013</b></div>
            </div>
        </div>
    </section>

{% endblock %}

