{% extends 'base.html.twig' %}

{% block title %}Livre d'or{% endblock %}

{% block header %}
    <header class="collapse livre-or">
        <section>
            <h1>Livre d'or</h1>
        </section>
    </header>
{% endblock %}


{% block body %}

    <section class="text-white">
        <div class="container-fluid">
            <div class="box effect2 text-justify text-red">
                <p>... Les 2 ans passés dans ton enseignement ont été très riche et j'ai énormément appris, et pas
                    seulement au
                    niveau du théâtre.
                    Dans ta richesse de compréhension de textes aussi. C'était vraiment bien.
                </p>
                <br>
                <div class="text-right"><b>Oriane</b></div>
            </div>


            <div class="box effect2 text-justify text-red">
                <p>Tes exercices et tes conseils sonnent juste et portent efficacement - Avec toi, j'avance "en
                    profondeur"...</p>
                <br>
                <div class="text-right"><b>Sophie</b></div>
            </div>


            <div class="box effect2 text-justify text-red">
                <p>Rigueur et professionnalisme dans la bonne humeur</p>
                <br>
                <div class="text-right"><b>Christiane</b></div>
            </div>


            <div class="box effect2 text-justify text-red">
                <p> ... Mon esprit s'ouvre aux réalités du Théâtre et la formation donnée me permet de ressentir des
                    sensations
                    corporelles que je n'aurais jamais pensé pouvoir effleurer."</p>
                <br>
                <div class="text-right"><b>Tristan</b></div>
            </div>


            <div class="box effect2 text-justify text-red">
                <p>C'est un travail d'horlogerie, qui se passe là, l'air de rien, en douceur, dans le détail et la
                    finesse. Le
                    moment de relaxation-yoga de début de séance, ce sas entre la journée et le cours.
                    L'ambiance est "travailleuse" mais toujours, l'humour prévaut.</p>
                <br>
                <div class="text-right"><b>Véronique</b></div>
            </div>


            <div class="box effect2 text-justify text-red">
                <p>Le PROF : Une main de fer dans un gant de velours, ADROITE SUBTILE ET DIPLOMATE qui donne des cours
                    de
                    qualité, très bon pédagogue (on n'a pas l'impression d'être dans une école)
                    quand on goûte aux Mots Debout, on ne peut plus s’en passer. On devient accro………..mais pour la bonne
                    cause.</p>
                <br>
                <div class="text-right"><b>Sylvette</b></div>

            </div>
            <div class="box effect2 text-justify text-red">
                <p>Avec Catherine Rouzeau, les "Mots Debout" prennent tout leur sens. Ils se tiennent, s'éclairent,
                    s'harmonisent, rayonnent et trouvent leur plénitude. Tel est son enseignement : Lumineux ! Son
                    écoute
                    est fine, son enseignement riche, et son enthousiasme un puissant carburant qu'elle partage sans
                    modération !</p>
                <br>
                <div class="text-right"><b>Nina</b></div>
            </div>


            <div class="box effect2 text-justify text-red">
                <p>... à travers le texte: comment, pour citer l'auteur Valère Novarina, le "mâcher, le manger, le
                    mastiquer, le
                    déglutir, le mordre, le poumoner, le respirer...". Cela passe aussi par le corps...<br>

                    On l'aime, on le choisit, on le chérit, on le travaille, on l'écume, on le déteste, on le revit, on
                    l'apprécie de nouveau, on l'adore!! Et on en veut toujours encore et encore!<br>

                    La générosité, l'humour, l'humanité mais aussi la rigueur et le professionnalisme dont fait preuve
                    Catherine
                    représentent là les parfaits ingrédients pour le cocktail délicieux que symbolise son cours !!<br>

                    Je n'ai qu'une chose à ajouter, je ne suis jamais rassasiée: j'ai encore soif !!<br>Merci !!</p>
                <br>
                <div class="text-right"><b>Alice</b></div>

            </div>


            <div class="box effect2 text-justify text-red">
                <p>Les Mots Debout : portent bien leur nom.
                    On entre illico dans le vif du sujet.<br>
                    C’est une vraie formation d’acteur qui est proposée : travail sur le corps et les outils du comédien
                    puis
                    sur les textes, avec une bonne direction d’acteurs. ...et ça marche... tout le monde progresse sans
                    se
                    prendre la grosse tête. L’émulation prend bien et l’ambiance reste joyeuse."
                </p>
                <br>
                <div class="text-right"><b>Catherine</b></div>
            </div>

            <div class="box effect2 text-justify text-red">
                <p>
                    Aujourd'hui, je dois ouvrir une nouvelle page théâtrale, sans toi,...<br>
                    Toutes ces années où tu m'as épaulé par ton savoir, ta gentillesse et ta patience (le savoir est
                    l'une des
                    plus belle chose du monde et le transmettre à des personnes comme moi l'est encore plus).<br>
                    Ton enseignement fut et restera toujours présent et essentiel pour moi.

                    Je sais que tu n'aimes pas les honneurs et que pour toi, tout ce qui m'arrive de bien je ne le dois
                    qu'à
                    moi-même mais c'est faux!<br>

                    Je le dois en grande partie à des gens comme toi qui ont eu la folie de croire en moi.
                </p>
                <br>
                <div class="text-right"><b>Mathilde</b></div>
            </div>

            <div class="box effect2 text-justify text-red">
                <p>... merci pour cette année ... pour ta patience, ton calme olympien, tes plaisanteries, bref un
                    "tout" qui
                    fait vraiment du bien dans le monde dans lequel nous vivons actuellement.
                    merci pour le livre que tu nous as offert, "le Théâtre des paroles" de Valère Novarina, je découvre
                    aussi
                    "l'Atelier Volant"... merci encore.
                </p>
                <br>
                <div class="text-right"><b>Sylvette</b></div>
            </div>


            <div class="box effect2 text-justify text-red">
                <p>... pour ce que tu apportes, ce que tu fais bouger et ce que tu révèles en nous parce que ce que tu
                    m'as
                    transmis c'est pour toute une vie et c'est bien plus qu'un petit cours de théâtre anodin.<br>

                    On ne sait jamais trop comment remercier ces personnes là, à part en essayant de faire honneur à
                    cette belle
                    transmission ! Je n'oublierai pas d'où je viens ça c'est sûr !
                </p>
                <br>
                <div class="text-right"><b>Gaïa</b></div>
            </div>
            <div class="box effect2 text-justify text-red">
                <p>Si chacun donne le meilleur de lui-même c’est que tu sais aller le chercher par ton exigence mais
                    aussi ta
                    bienveillance ! Vivement septembre !
                </p>

                <br>
                <div class="text-right"><b>Catherine</b></div>
            </div>

            <div class="box effect2 text-justify text-red">
                <p>Merci pour cette énergie, ce temps, cet élan, que tu nous a donnés et qui nous ont tous portés à
                    apprendre,
                    à avancer, à grands et tout petits pas, avec parfois bien des difficultés, souvent un grand bonheur,
                    toujours une infinie curiosité... jusqu'à ce dernier week-end de juin si intense et joli
                </p>
                <br>
                <div class="text-right"><b>Lara</b></div>
            </div>



            <div class="box effect2 text-justify text-red">
                <p>La prof est une tortionnaire</p>
                <br>
                <div class="text-right"><b>Clémentine</b></div>
            </div>
        </div>
    </section>
{% endblock %}

