{% extends 'base.html.twig' %}


{% block title %}Nous contacter{% endblock %}

{% block header %}
    <header class="collapse nous-contacter">
        <section>
            <h1>Parler avec un humain</h1>
            <h2 class="subTitle">Parce que le théatre c'est la rencontre et le partage</h2>
        </section>
    </header>
{% endblock %}


{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="well well-sm">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            Nom</label>
                                        <input type="text" class="form-control" id="name" placeholder="Entrez votre nom"
                                               required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">
                                            Email Address</label>
                                        <div class="input-group">
                                            <input type="email" class="form-control" id="email"
                                                   placeholder="Entrez votre adresse mail" required="required"/></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="subject">
                                            Objet</label>
                                        <select id="objet" name="objet" class="form-control" required="required">
                                            <option value="na" selected="">Votre demande</option>
                                            <option value="cours_particuliers">Cours particuliers</option>
                                            <option value="cours_collectifs">Cours collectifs</option>
                                            <option value="ateliers">Ateliers</option>
                                            <option value="stages">Stages</option>
                                            <option value="spectacles">Spectacles</option>
                                            <option value="formations">Formations</option>
                                            <option value="ateliers_recherche">Ateliers recherche</option>
                                            <option value="divers">Je ne sais pas trop</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            Message</label>
                                        <textarea name="message" id="message" class="form-control" rows="9" cols="25"
                                                  required="required"
                                                  placeholder="Message"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12  button-box">
                                    <button type="submit" class="pull-right" id="btnContactUs">Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2><span class="glyphicon glyphicon-globe"></span> Nous sommes là</h2>
                    <address>
                        <strong>&Eacute;cole Théatre Mots Debout</strong><br>
                        5, rue Jean-Baptiste Charcot<br>
                        17000 La Rochelle - Tasdon<br>
                        <p></p>
                        +(33)5 456 789<br>
                        <a href="mailto:#">contact@etmd.fr</a>
                    </address>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(function() {
        var objet = getParameterByName('objet');
        if(objet) {
            $('#objet option[value="' + objet +'"]').prop('selected', true);
        }
    });
    </script>
{% endblock %}

