{% extends 'base.html.twig' %}

{% block title %}Résidences{% endblock %}

{% block header %}
    <header class="collapse residences">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <div id="header-main-title">
                            <h1>Résidences</h1>
                            <h2 class="subTitle">En création</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
{% endblock %}


{% block body %}

    <section class="background-red">
        <div class="container ">
            <h3 class="text-red-faded">
                Espace ouvert aux élèves et aux artistes en lien avec l'école.
            </h3>
        </div>
    </section>

    <section class="text-white">
        <div class="container text-red">
            <h2 style="font-weight: 700;">Des spectacles sont nés</h2>
            <div class="row ">
                <div class="col-lg-4 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('assets/img/residences/auguste_et_auguste.png') }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="media-heading">L'Auguste & Auguste</h4>
                            <p class="card-text">avec Emmanuelle Degeorges et Steven Dos Santos <a class="text-red"
                                                                                                   href="http://www.compagnie-revolante.com/">Cie
                                    Révolante</a><br>
                                Mise en scène Catherine Rouzeau
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('assets/img/residences/vide.png') }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="media-heading">Le cercle de craie caucasien (2017)</h4>
                            <p class="card-text">de Bertolt Brecht travail d'<a class="text-red"
                                                                                href="http://www.ecoleclaudemathieu.com/">école
                                    Claude Mathieu Paris</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('assets/img/residences/novecento.png') }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="media-heading">Novecento</h4>
                            <p class="card-text">d’Alessandro Baricco travail d'<a class="text-red"
                                                                                   href="http://www.ecoleclaudemathieu.com/">école
                                    Claude Mathieu Paris</a>
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <hr style="border-top: 5px solid rgba(94, 22, 22, 1);max-width:50%">
    </section>


{% endblock %}

