{% extends 'base.html.twig' %}

{% block body %}

    <section class="bg-primary page-section" id="residences">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center ">
                    <h1 class="section-heading text-white">Résidences</h1>
                    <h2 class="text-white mb-4">Spectacles en création</h2>
                    <h3 class="text-white mb-4">
                        Ouvrir aux élèves, aux artistes intervenants et aux artistes partenaires, un espace de travail
                        le temps des répétitions.
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary">
        <div class="container ">
            <h2 class="mb-4 text-white">Des spectacles sont nés</h2>
            <div class="row ">
                <div class="col-lg-4 mx-auto">
                    <div class="media mb-1 text-white">
                        <div class="media-body">
                            <h4 class="media-heading">L'Auguste & Auguste (2016)</h4>
                            <p class="text-white">
                                avec Emmanuelle Degeorges et Steven Dos Santos  Cie Révolante<br>
                                Mise en scène Catherine Rouzeau
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mx-auto" style="height:200px;">
                    <div class="media mb-1 text-white">
                        <div class="media-body">
                            <h4 class="media-heading">Le cercle de craie caucasie (2017)</h4>
                            <p class="text-white">
                                de Bertolt Brecht travail d’école Claude Mathieu Paris
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto" style="height:200px;">
                    <div class="media mb-1 text-white">
                        <div class="media-body">
                            <h4 class="media-heading">Novecento</h4>
                            <p class="text-white">
                                d’Alessandro Baricco travail d'école Claude Mathieu Paris
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto" style="height:200px;">
                    <div class="media mb-1 text-white">
                        <div class="media-body">
                            <h4 class="media-heading">L’affaire est dans le sac</h4>
                            <p class="text-white">
                                Pré travail sur la création " L'affaire est dans le sac " avec Catherine Rouzeau Mise en scène Lucile Barré.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="bg-red">
    </section>
{% endblock %}

