html, body {
    font-family: 'Roboto', sans-serif !important;
}

h1 {
    color: #DAA520;
    border-bottom: 2px dotted #DAA520;
}

h5 {
    color: #C3C3C3;
}

.nav-top {
    background-color: #DAA520;
}

.nav-top ul a {
    color: #5E1616;
}

.nav-tabs {
    background-color: #5E1616;
}

nav ul a {
    color: #DAA520;
    text-transform: uppercase;
}

.text-brown {
    color: #5E1616;
}

.back-brown {
    color: #5E1616;
}

.btn {
    color: #DAA520;
    background-color: #5E1616;
}

.btn:focus {
    background-color: #DAA520;
    color: #5E1616;
}

.btn:hover {
    color: #DAA520;
    background-color: #5E1616;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: 50%;
}

.toast {
    color: #DAA520;
    background-color: #5E1616;
}

.btn-floating i {
    color: #DAA520;
}

.btn-floating i:hover {
    color: #5E1616;
}

.text-yellow {
    color: #DAA520 !important;
}

.back-yellow {
    background-color: #DAA520;
}

nav ul a:hover {
    background-color: #DAA520;
    color: #5E1616;
    text-transform: uppercase;
}

.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tab.disabled a, .tabs.tabs-transparent .tab.disabled a:hover {
    color: #DAA520;
}

.tabs.tabs-transparent .tab a.active, .tabs.tabs-transparent .tab a:hover {
    color: #DAA520 !important;
    /*background-color: #DAA520;*/
}

.tabs .indicator {
    background-color: #DAA520 !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #DAA520;
}

.publish {
    background-color: #5E1616 !important;
    color: #DAA520;
    text-transform: none !important;
    font-size: 10px;
    opacity: 0.7;
}

.pagination li.active {
    background-color: #DAA520;
}

.pagination li.active a {
    color: #5E1616;
}

.pagination li a {
    color: #5E1616;
}

.btn-floating {
    background-color: #5E1616;
}

.btn-floating:hover {
    background-color: #DAA520;
}

.card-content {
    background-color: #DAA520;
    color: #5E1616;
}

.card .card-reveal {
    background-color: #DAA520;
    color: #5E1616;

}

.card.large {
    background-color: #DAA520;

}

.card .card-action {
    color: #DAA520;
    background-color: #5E1616;

}

.card-section {
    color: #DAA520;
    background-color: #5E1616;
}

.card-title {
    color: #5E1616 !important;
    font-weight: bold !important;
}

.card {
    background-color: #DAA520;
    color: #5E1616;
}

.dropdown-content li a:hover  {
    background-color: #DAA520;
    color: #5E1616 !important;
}

.dropdown-content li a   {
    color: #DAA520 !important;
    background-color: #5E1616;
}

a {
    color: white;
}

#home {
    background: url(../../assets/img/workshop.png) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

#admin {
    background: url(../../assets/img/workshop1.png) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */

}

.button-collapse {
    color: #5E1616;
}

.side-nav {
    color: #5E1616;
    background-color: #DAA520;

}

#sidenav-overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.divider {
    background-color: #5E1616;
}

.dropdown-content {
    background-color: #5E1616;
    color: #DAA520;
}

.dropdown-content li > span {
    color: #DAA520;
}

.input-field label,
label {
    color: #5E1616 !important;
}

input,
input.valid[type="email"]  {
    border-bottom: 1px solid #5E1616 !important;
}

/* label focus color */
input[type=email]:focus + label {
    color: #5E1616;
}
/* label underline focus color */
input[type=email]:focus {
    border-bottom: 1px solid #5E1616 !important;
    box-shadow: 0 1px 0 0 #5E1616;
}



.validate {
    color: #5E1616 !important;
}

button:focus {
    background-color: #5E1616;
    color: #DAA520;
}

button {
    color: #5E1616;
    /*background-color: #DAA520;*/

}

.shadow {
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: #5E1616;
    box-shadow: 0px 0px 20px 20px #5E1616;
}