html, body {
    font-family: 'Roboto', sans-serif !important;
}

.nav-top {
    background-color: #DAA520;
}
.nav-top  ul a  {
    color: #5E1616;
}

.nav-tabs {
    background-color: #5E1616;
}

nav ul a {
    color: #DAA520;
    text-transform: uppercase;
}

.text-brown {
    color: #5E1616;
}

nav ul a:hover {
    background-color: #DAA520;
    color: #5E1616;
    text-transform: uppercase;
}

.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tab.disabled a, .tabs.tabs-transparent .tab.disabled a:hover {
    color: #DAA520;
}

.tabs.tabs-transparent .tab a.active, .tabs.tabs-transparent .tab a:hover {
    color: #DAA520 !important;
    /*background-color: #DAA520;*/
}

.tabs .indicator {
    background-color: #DAA520 !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #DAA520;
}

.publish {
    background-color: #5E1616 !important;
    color: #DAA520;
    text-transform: none !important;
    font-size:10px;
    opacity: 0.7;
}

.pagination li.active {
    background-color: #DAA520;
}

.pagination li.active a {
    color: #5E1616;
}

.pagination li a {
    color: #5E1616;
}
.btn-floating {
    background-color: #5E1616;
}

.btn-floating:hover {
    background-color: #DAA520;
}

.card-content {
    background-color: #DAA520;
    color: #5E1616;
}

.card .card-reveal {
    background-color: #DAA520;
    color: #5E1616;

}
.card.large {
    background-color: #DAA520;

}

.card .card-action{
    color: #DAA520;
    background-color: #5E1616;

}

.card-section {
    color: #DAA520;
    background-color: #5E1616;
}

.card-title
{
    color: #5E1616 !important;
    font-weight: bold !important;
}

.dropdown-content li a:hover {
    background-color: #DAA520;
    color: #5E1616 !important;
}

.dropdown-content li a  {
    color: #DAA520 !important;
    background-color: #5E1616;
}

a {
    color: white;
}

#home {
    background: url(../../assets/img/workshop.png) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}


.input-field label {
    color: #5E1616 !important;
}

.validate {
    color: #5E1616 !important;
}

button:focus {
    background-color: #5E1616;
    color: #DAA520;
}

button {
    color: #5E1616;
    /*background-color: #DAA520;*/

}
