{% extends 'base.html.twig' %}

{% block body %}
    <main id="admin">
        <div class="col container">
            <div class="card">
                <div class="card-image">
                    <h4 class="hdeader">Gestion des pages</h4>
                </div>

                <div class="card-stacked">

                    <div class="card-content card-section">

                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>Section</th>
                                <th>Titre</th>
                                <th>Sous section</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for page in pages %}
                                <tr>
                                    <td>{{ page.sectionString }}</td>
                                    <td>{{ page.title }}</td>
                                    <td>
                                        <a href="#"
                                           class="btn-floating btn-large waves-effect waves-light back-brown text-yellow">
                                            <i class="material-icons">add</i>
                                        </a>

                                        {% for sub in page.pagesections %}
                                            <a href="#">{{ sub.title }}</a><br>
                                        {% endfor %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </main>
{% endblock %}
